<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqmCcCa_zgNLCo4UMIZ1J6PG9td12ChkM</string>
	<key>GCM_SENDER_ID</key>
	<string>897229586820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.threads</string>
	<key>PROJECT_ID</key>
	<string>threads-2ea33</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-2ea33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897229586820:ios:4bf5b542f12572226f9dd1</string>
</dict>
</plist>